<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin/help.css" />
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <div class="container-body">
        <div class="icons">
          <button type="button" onclick="location.href = '/admin'" title="重置筛选结果">
            <img src="/images/reset.svg" alt="admin" />
            <p>重置</p>
          </button>
          <button type="button" onclick="location.href = '/insight'" title="统计所有结果">
            <img src="/images/insight.svg" alt="insight" />
            <p>统计</p>
          </button>
          <button type="button" onclick="location.href = '/export'" title="导出筛选结果">
            <img src="/images/export.svg" alt="export" />
            <p>导出</p>
          </button>
          <button type="button" onclick="location.href = '/'" title="返回提交页面">
            <img src="/images/home.svg" alt="home" />
            <p>首页</p>
          </button>
          <button type="button" onclick="location.href = '/logout'" title="退出当前登录">
            <img src="/images/logout.svg" alt="logout" />
            <p>退出</p>
          </button>
          <button type="button" onclick="location.href = '/admin'" title="返回管理员界面">
            <img src="/images/help.svg" alt="admin" />
            <p>返回</p>
          </button>
        </div>
        <h1>筛选命令</h1>
        <div class="help-content">
          <ul>
            <h2>一、基础筛选</h2>
            <li>隐藏姓名：</li>
            <div class="code-copy">
              <p class="code" id="code1">SELECT `id`,`group`,`date`,`notes` FROM `punch`</p>
              <button type="button" onclick="copyText('code1')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看某个组的笔记：</li>
            <div class="code-copy">
              <p class="code" id="code2">SELECT * FROM `punch` WHERE `group` = '电子组'</p>
              <button type="button" onclick="copyText('code2')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看一定字数的笔记：</li>
            <div class="code-copy">
              <p class="code" id="code3">SELECT * FROM `punch` WHERE LENGTH(`notes`) > 100</p>
              <button type="button" onclick="copyText('code3')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看某一时间点后的笔记：</li>
            <div class="code-copy">
              <p class="code" id="code4">SELECT * FROM `punch` WHERE DATE(`date`) > '2022-8-13'</p>
              <button type="button" onclick="copyText('code4')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>

            <h2>二、进阶筛选</h2>
            <li>查看今天的笔记：</li>
            <div class="code-copy">
              <p class="code" id="code5">SELECT * FROM `punch` WHERE DATE(`date`) = CURRENT_DATE</p>
              <button type="button" onclick="copyText('code5')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看本周的笔记：</li>
            <div class="code-copy">
              <p class="code" id="code6">SELECT * FROM `punch` WHERE WEEK(`date`,1) = WEEK(CURRENT_DATE(),1)</p>
              <button type="button" onclick="copyText('code6')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看某个人的笔记并计算出每次的笔记字数：</li>
            <div class="code-copy">
              <p class="code" id="code7">SELECT *, LENGTH(`notes`) as '字数' FROM `punch` WHERE `name` = 'Cael'</p>
              <button type="button" onclick="copyText('code7')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
            <li>查看每天的提交人数：</li>
            <div class="code-copy">
              <p class="code" id="code8">
                SELECT `date` AS '日期', COUNT(*) AS '提交次数' FROM `punch` GROUP BY DATE(`date`)
              </p>
              <button type="button" onclick="copyText('code8')" title="复制">
                <img src="/images/copy.svg" alt="copy" />
              </button>
            </div>
          </ul>
        </div>
      </div>
      <footer class="footer">&copy; Copyright <%= new Date().getFullYear() %></footer>
    </div>
  </body>
  <script>
    function copyText(code_id, img_id) {
      navigator.clipboard.writeText(document.getElementById(code_id).innerText);
    }
  </script>
</html>
