<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin/login.css" />
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post" class="container-body">
        <% if(error){ %>
        <p class="err-msg">Username or password is incorrect</p>
        <% } %>
        <h1>请先登录</h1>
        <label for="username">用户名</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="用户名"
          maxlength="20"
          required
          oninvalid="this.setCustomValidity('用户名不能为空！')"
          oninput="this.setCustomValidity('')"
        />
        <label for="password">密码</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="密码"
          maxlength="20"
          required
          oninvalid="this.setCustomValidity('密码不能为空！')"
          oninput="this.setCustomValidity('')"
        />
        <button type="submit">登录</button>
      </form>
      <footer class="footer">&copy; Copyright <%= new Date().getFullYear() %></footer>
    </div>
  </body>
</html>
