<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/records/style.css" />
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <div class="container-body">
        <h1>值班笔记查询</h1>
        <form class="search-box" action="/records" method="post">
          <input
            type="text"
            id="command"
            name="command"
            placeholder="输入SQL语句查询结果"
            maxlength="200"
            required
            oninvalid="this.setCustomValidity('SQL语句不能为空！')"
            oninput="this.setCustomValidity('')"
          />
          <button type="submit">查询</button>
          <button type="button" onclick="location.href = '/records'">重置</button>
        </form>
        <div class="records-list">
          <table>
            <!-- Title -->
            <tr>
              <% Object.keys(records[0]).forEach(function(prop) { %>
              <th><%= prop %></th>
              <% }); %>
            </tr>
            <!-- Content -->
            <% records.forEach(function(record) { %>
            <tr>
              <% Object.keys(record).forEach(function(prop) { %>
              <!-- If element is time -->
              <% if(prop==='time'){ %>
              <td><%= new Date(record[prop]).toLocaleDateString(); %></td>
              <% } else{ %>
              <td><%= record[prop] %></td>
              <% } %>
              <!-- If end -->
              <% }); %>
            </tr>
            <% }); %>
          </table>
        </div>
      </div>
      <footer class="footer">&copy; Copyright <%= current_year %></footer>
    </div>
  </body>
</html>
