<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index/style.css" />
    <script src="/js/index.js" type="module" defer></script>
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <form action="/" method="post" class="container-body">
        <h1>值班笔记</h1>
        <div class="select form-element">
          <select id="group" name="group">
            <option value="航模组">航模组</option>
            <option value="编程组">编程组</option>
            <option value="电子组">电子组</option>
            <option value="静模组">静模组</option>
          </select>
          <div class="arrow-icon"><img src="/images/triangle.svg" alt="arrow" /></div>
        </div>
        <div class="form-element">
          <input type="text" id="name" name="name" placeholder="姓名" />
          <div class="err-msg"></div>
        </div>
        <div class="form-element">
          <textarea id="notes" name="notes" placeholder="今天的值班笔记内容"></textarea>
          <div class="err-msg"></div>
        </div>
        <button type="submit">提交</button>
        <a href="/admin">我是管理员</a>
      </form>
      <footer class="footer">&copy; Copyright <%= new Date().getFullYear() %> 校大学生科协</footer>
    </div>
  </body>
</html>
