*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(160deg,#80ffdb,#0077b6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-body{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.container-body h1 {
    color: #555;
    font-weight: 800;
    font-size: 50px;
    margin: 50px auto 20px;
}

.container-body .msg-img{
    width: 120px;
    height: 120px;
    margin: 20px auto 50px;
}

.container-body .return-but{
    padding: 15px;
    background: #FF0063;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 10px auto;
    border-radius: 20px;
    transition: transform .3s;
}

.container-body button:hover{
    transform: scale(1.05);
}

.container footer{
    margin-top: 20px;
}
