* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --pri-green: #5da68d;
}

html {
  font-size: 62.5%;
}

/* Home background */
.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  background: linear-gradient(160deg, #80ffdb, #0077b6);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* Main page */
.container-body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 2vw;
  width: 90%;
  max-width: 80%;
  border-radius: 1rem;
}

/* Main pages elements */
.container-body h1 {
  color: #555;
  font-weight: 800;
  margin: 2rem auto 1rem;
  font-size: 3rem;
}

.container-body .help-content {
  width: 80%;
  border: 0;
  margin: 1rem auto 3rem;
  padding: 2rem;
  outline: none;
  background: #f5f5f5;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--pri-green);
}

.container-body .help-content ul {
  padding-left: 2rem;
}

/* Clipboard */
.container-body .help-content .code {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.container-body .help-content .code-block {
  padding: 0.5rem 1rem;
  background: #252525;
  width: 96%;
  border-radius: 0.5rem;
  color: #ffffff;
}

.container-body .help-content button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: none;
  cursor: pointer;
}

.container-body .help-content img {
  height: 2rem;
  opacity: 0.8;
  margin-left: 0.5rem;
}

/* Bar icons */
.container-body .icons {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

/*Button effects*/
.container-body .icons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 1rem;
  position: relative;
}

.container-body .icons button::after {
  content: "";
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background: var(--pri-green);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.container-body .icons button:hover::after {
  transform: scaleX(1);
}

.container-body .icons img {
  height: 2rem;
  opacity: 0.8;
  margin-right: 0.5rem;
}

.container-body .icons p {
  font-weight: bold;
}

/* Footer */
footer {
  font-size: 1.6rem;
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 40%;
  }
  .container {
    padding-top: 3vh;
  }
  .container-body {
    max-width: 90%;
  }
}
