* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --pri-bcg: linear-gradient(160deg, #80ffdb, #0077b6);
  --pri-white: #ffffff;
  --pri-green: #5da68d;
}

html {
  font-size: 62.5%;
}

/* Home background */
body {
  width: 100%;
  min-height: 100vh;
  padding-top: 5vh;
  background: var(--pri-bcg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Main page */
.container {
  width: 90%;
  max-width: 80%;
  border-radius: 1rem;
  padding: 2vw 2vw;
  background: var(--pri-white);

  display: flex;
  flex-direction: column;
}

/* Main pages elements */
/* Bar icons */
.container .icons {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

/*Button effects*/
.container .icons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 1rem;
  position: relative;
}

.container .icons button::after {
  content: "";
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background: var(--pri-green);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.container .icons button:hover::after {
  transform: scaleX(1);
}

.container .icons img {
  height: 2rem;
  opacity: 0.8;
  margin-right: 0.5rem;
}

.container .icons p {
  font-weight: bold;
}

/* header text */
.container h1 {
  color: #555;
  font-weight: 800;
  margin: 2rem auto 1rem;
  font-size: 3rem;
}

/* chart element */
.container .chart-row {
  display: flex;
  flex-direction: row;

  margin: 1rem auto;
  gap: 2rem;
}

.chart-row .chart-element {
  height: 45vh;
  width: 45vh;

  border-radius: 2rem;
  border: 0.2rem solid var(--pri-green);
}

.chart-row .chart-line {
  height: 45vh;
  width: 92vh;

  border-radius: 2rem;
  border: 0.2rem solid var(--pri-green);
}

.chart-row canvas {
  padding: 1rem;
}

/* Footer */
footer {
  font-size: 1.6rem;
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 40%;
  }
  body {
    padding-top: 3vh;
  }
  .container {
    max-width: 90%;
  }
  .container .chart-row {
    flex-direction: column;
  }
  .chart-row .chart-line {
    width: 45vh;
  }
}
