*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Home background */
.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    background: linear-gradient(160deg,#80ffdb,#0077b6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* Main page */
.container-body{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

/* Main pages elements */
.container-body .err-msg {
    font-weight: 800;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
    color: red;
    box-shadow: 0px 6px 12px #aaaaaa;
}

.container-body h1 {
    color: #555;
    font-weight: 800;
    margin: 20px auto 10px;
}

.container-body input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
}

.container-body label {
    display: block;
    color:#949494;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.container-body a{
    margin: 3px auto;
    font-size: small;
}

.container-body input:focus::placeholder {
    color: transparent;
}

.container-body button[type="submit"]{
    padding: 15px;
    background: #FF0063;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 10px;
    border-radius: 20px;
    transition: transform .3s;
}

.container-body button:hover{
    transform: scale(1.05);
}

/* Footer */
.container footer{
    margin: 20px;
}
