* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-main: #f3f4f6;
  --bg-main-button: #16a34a;
  --bg-main-dark-button: #15803d;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1rem;
  min-height: 100vh;
  min-height: 100svh;
  background: var(--bg-main);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 45rem;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-body {
  box-shadow: 0 0 5px #80808040;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1vw 2vw;
  width: 100%;
  border-radius: 1rem;
  border: solid 1px #d1d5db;
}

.container-body h1 {
  color: #555;
  font-size: 3rem;
  font-weight: 800;
  margin: 1rem;
}

.container-body .form-element,
.container-body .select {
  font-size: 1.6rem;
  border-radius: 0.5rem;
  width: 100%;
}

.form-element input,
.container-body select,
.form-element textarea {
  border: solid 1px black;
  padding: 1.5rem;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background: white;
}

.form-icon {
  color: #666666;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.form-icon img {
  width: 1.5rem;
}

/* error message */
.form-element .err-msg {
  color: red;
  font-size: small;
}

/* Select body */
.container-body .select {
  position: relative;
}

.container-body select {
  appearance: none;
}

.form-element textarea {
  height: 15rem;
}

.container-body .select .arrow-icon {
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  background: transparent;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-body .select .arrow-icon img {
  height: 2rem;
  opacity: 0.7;
  background-image: #ffffff;
}

/* form input placeholder */
.container-body select:focus,
.container-body input:focus,
.container-body textarea:focus {
  border-color: #2563eb;
}

.container-body button {
  padding: 1.3rem;
  background: var(--bg-main-button);
  color: #ffffff;
  font-weight: 800;
  font-size: 1.6rem;
  border: solid 1px black;
  outline: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
  transition: transform 0.2s;
}

.container-body button:hover {
  background: var(--bg-main-dark-button);
}

.container-body .admin-href {
  font-size: small;
}

footer {
  font-size: 1.6rem;
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .container-body {
    padding: 4vw;
  }
}
