* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(160deg, #80ffdb, #0077b6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 60rem;
  border-radius: 1rem;
}

.container-body h1 {
  color: #555;
  font-size: 3rem;
  font-weight: 800;
  margin: 2rem auto 1rem;
}

.container-body .form-element,
.container-body .select {
  border: 0;
  outline: none;
  margin: 0.5rem 0;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.form-element input,
.form-element textarea {
  border: 0;
  padding: 2rem;
  outline: none;
  width: 100%;
  background: #f5f5f5;
  font-size: 1.6rem;
  border-radius: 1rem;
}

/* error message */
.form-element .err-msg {
  color: red;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

/* Select body */
.container-body .select {
  position: relative;
  margin: 1rem 0;
}

.container-body select {
  border: 0;
  width: 100%;
  padding: 2rem;
  outline: none;
  font-size: 1.6rem;
  appearance: none;
  background: #f5f5f5;
  border-radius: 1rem;
}

.form-element textarea {
  height: 20rem;
}

.container-body .select .arrow-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6rem;
  background: transparent;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-body .select .arrow-icon img {
  height: 2rem;
  opacity: 0.7;
  background-image: #ffffff;
}

/* form input placeholder */
.container-body input:focus::placeholder,
.container-body textarea:focus::placeholder {
  color: transparent;
}

.container-body button[type="submit"] {
  padding: 1.5rem;
  background: #ff0063;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.8rem;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 15rem;
  margin: 1rem auto;
  border-radius: 2rem;
  transition: transform 0.3s;
}

.container-body button:hover {
  transform: scale(1.05);
}

.container-body .admin-href {
  width: fit-content;
  font-size: small;
  margin: 0 auto 1rem;
}

.container-body a {
  margin: 0.3rem auto;
  font-size: small;
}

footer {
  font-size: 1.6rem;
  margin-top: 2rem;
}
