* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-main-input: #f1f5f9;
  --bg-main-button: #22c55e;
  --bg-main-dark-button: #0cb74b;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(160deg, #80ffdb, #0077b6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw;
  width: 90%;
  max-width: 50rem;
  border-radius: 1rem;
}

.container-body h1 {
  color: #555;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
}

.container-body .form-element,
.container-body .select {
  border: 0;
  outline: none;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.form-element input,
.form-element textarea {
  border: 0;
  padding: 2rem;
  outline: none;
  width: 100%;
  background: var(--bg-main-input);
  font-size: 1.6rem;
  border-radius: 1rem;
}

.form-icon {
  color: #666666;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 0.5rem 0.5rem;
}

.form-icon img {
  width: 1.5rem;
}

/* error message */
.form-element .err-msg {
  color: red;
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

/* Select body */
.container-body .select {
  position: relative;
  margin: 1rem 0;
}

.container-body select {
  border: 0;
  width: 100%;
  padding: 2rem;
  outline: none;
  font-size: 1.6rem;
  appearance: none;
  background: var(--bg-main-input);
  border-radius: 1rem;
}

.form-element textarea {
  height: 20rem;
}

.container-body .select .arrow-icon {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  background: transparent;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-body .select .arrow-icon img {
  height: 2rem;
  opacity: 0.7;
  background-image: #ffffff;
}

/* form input placeholder */
.container-body input:focus::placeholder,
.container-body textarea:focus::placeholder {
  color: transparent;
}

.container-body button[type="submit"] {
  padding: 1.3rem;
  background: var(--bg-main-button);
  color: #ffffff;
  font-weight: 800;
  font-size: 1.6rem;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.2s;
}

.container-body button:hover {
  background: var(--bg-main-dark-button);
}

.container-body .admin-href {
  margin-top: 1rem;
  width: fit-content;
  font-size: small;
}

.container-body a {
  margin: 0.3rem auto;
  font-size: small;
}

footer {
  font-size: 1.6rem;
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .container-body {
    padding: 4vw;
  }
}
