<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/fail/style.css" />
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <div class="container-body">
        <h1>提交失败</h1>
        <img src="/images/fail.png" alt="fail" class="msg-img" />
        <button onclick="location.href = '/'" class="return-but">返回</button>
      </div>
      <footer class="footer">&copy; Copyright <%= new Date().getFullYear() %></footer>
    </div>
  </body>
</html>
