* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-main-button: #22c55e;
  --bg-main-dark-button: #0cb74b;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(160deg, #80ffdb, #0077b6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 50rem;
  border-radius: 1rem;
}

.container-body h1 {
  color: #555;
  font-weight: 800;
  font-size: 5rem;
  margin: 5rem auto 2rem;
}

.container-body .msg-img {
  width: 12rem;
  height: 12rem;
  margin: 2rem auto 5rem;
}

.container-body .return-but {
  padding: 1.3rem;
  background: var(--bg-main-button);
  color: #ffffff;
  font-weight: 800;
  font-size: 1.6rem;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 15rem;
  margin: 1rem auto;
  border-radius: 1rem;
  transition: transform 0.3s;
}

.container-body button:hover {
  background: var(--bg-main-dark-button);
}

footer {
  font-size: 1.6rem;
  margin: 2rem;
}
